<!DOCTYPE html>
<html>

<head>
    <title>Add Band</title>
</head>

<body>
    <form action="/addBand" method="post">
        <label for="band_name">Enter Band Name: </label>
        <input type="text" id="band_name" name="band_name">
        <br><br>
        <label for="lead_singer">Enter Leader Singer Name: </label>
        <input type="text" id="lead_singer" name="lead_singer">
        <br><br>
        <input type="submit" value="Save Band">
    </form>
</body>

</html>