<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Landing Page</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/user_landing.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

  <h2>Welcome!</h2>

  <!-- Buttons -->
  <div class="button-container">
    <a href="/dashboard">
      <button>Dashboard</button>
    </a>
    <a href="/viewData">
      <button>View Data</button>
    </a>
    <a href="/editUser">
      <button>Edit Account Info</button>
    </a>
    <a href="/createUser">
        <button>Create User</button>
      </a>
  </div>

  <!-- Add any additional content or links as needed -->

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Check if localStorage username is "Admin"
      const storedUsername = localStorage.getItem('username');

      if (storedUsername !== 'Admin') {
        // Redirect to a different page if the username is not "Admin"
        window.location.href = '/unauthorized';
      }
    });
  </script>

</body>

</html>
