<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <title>Document</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 50%;text-align:left">Band Name</th>
                <th style="width: 50%;text-align:left">Lead Singer</th>
            </tr>
        </thead>
        <tbody>
            <% for (let iCount=0; iCount < mybands.length; iCount++) { %>
                <tr>
                    <td>
                        <%= mybands[iCount].band_name %>
                    </td>
                    <td>
                        <%= mybands[iCount].lead_singer %>
                    </td>
                    <td>
                        <form action="/deleteBand/<%= mybands[iCount].band_id %>" method="POST">
                            <input type="submit" name="Delete" value="Delete" />
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <br><br>
    <form action="/findRecord" method="GET">
        <button type="submit">Search</button>
    </form>
    <br>
    <form action="/addBand" method="GET">
        <button type="submit">Add Band</button>
    </form>
    <br>
    <form action="/deleteAllBands" method="POST">
        <button type="submit">Delete All Bands</button>
    </form>
</body>

</html>