<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/editBand" method="GET">
        <fieldset style="width: 0px;">
            <legend>Find a Band:</legend>
            <br>
            <label for="bandName">Enter a band name:</label>
            <br>
            <input type="text" id="bandName" name="bandName">
            <br><br>
            <button type="submit">Search</button>
        </fieldset>
    </form>
</body>

</html>