<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link rel="stylesheet" href="INTEX/form_styles.css" type="text/css">
  <link rel="stylesheet" href="INTEX/styles.css" type="text/css">
</head>

<body>

  <!-- Start of Form -->
  <form action = "/login" method="post">
    <h2>Log In</h2>

    <!-- Log In Input -->
    <label for="username">Username</label>
    <input id="username" type="text">
    <label for="password">Password</label>
    <input id="password" type="password">

    <!-- Log In Submit -->
    <button type="submit">Log In to Your Account</button>
  </form>
</body>

</html>