<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Provo Mental Health Study</title>
  <link rel="stylesheet" href="../styles.css">
</head>

<body>

  <!-- Main Header -->
  <header>
    <h1>Provo Mental Health Study</h1>
    <p>Exploring the impact of social media on mental health in Provo.</p>
    <a href="survey.html">Take the Survey</a>
  </header>
  <div id="circle"></div>

  <div style="height: 2000px; width: 100px;"></div>


</body>

</html>